/* Navbar styles */
nav {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  background-color: white;
  color: rgb(246, 164, 17);
  justify-content: start;
  font-weight: 600;
  margin-left: 2%;
}

.logo span {
  margin-right: 0.1rem;
  padding: 0.9%;
}

.logo h1 {
  margin-left: 20%;
}
.logo h3 {
  font-size: 0.8rem;
}

.links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: blue;
  padding: 10px 0;
}

.links li {
  color: white;
  font-weight: 400;
}

/* footer  */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(244, 244, 244);
  color: rgb(48, 43, 43);
  padding: 20px;
}

.info {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.info li {
  margin-bottom: 10px;
}

.contacts {
    display: flex;
    justify-content: space-evenly;  
    align-items: center;  

}

.icons {
  display: flex;
  align-items: center;
}

.icons a {
  text-decoration: none;
  color: inherit;
  margin-right: 10px;
  transition: color 0.3s;
  cursor: pointer;
}


.donation-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 1%;
}

.donation-button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  font-size: 1rem;
  font-weight: 400;
}

.blood {
  background-color: white;
  color: red;
  border: 1px solid red;
}

.organs {
  background-color: white;
  color: green;
  border: 1px solid green;
}

.organs:hover {
  background-color:green ;
  color: white;
  border: 1px solid green;
}

.tissues {
  background-color: white;
  color: blue;
  border: 1px solid blue;
}

.tissues:hover {
  background-color:blue ;
  color: white;
  border: 1px solid blue;
}

.platelets {
  background-color: white;
  color: orange;
  border: 1px solid orange;
}

.platelets:hover {
  background-color:  orange ;
  color:white;
  border: 1px solid orange;
}

.cord-blood {
  background-color: white;
  color: purple;
  border: 1px solid purple;
}

.cord-blood:hover {
  background-color: purple;
  color: white;
  border: 1px solid purple;
}


.bone-marrow {
  background-color: white;
  color: brown;
  border: 1px solid brown;
}

.blood:hover {
  background-color: red;
  color: white;
  border: 1px solid red;
}


.bone-marrow:hover {
  background-color: brown ;
  color:white;
  border: 1px solid brown;
}


.copyright {
  text-align: center;
  color: rgb(78, 72, 72);
  padding: 10px;
  font-weight: 600;
  font-size: 1rem;
}